<div class="panel-body" ng-controller="coordinadorController">

    <div class="col-md-12 input-group">
        <h2> <span class ="col-sm-12 col-xs-12 col-md-4 label label-primary">Actividades</span></h2>

        <div style="float:left;" class="col-md-offset-4 col-md-2 input-group">
            <button class="col-md-12 btn btn-primary btn-md" data-toggle="modal" data-target="#" ng-click="">
                <span class="glyphicon glyphicon-plus"></span>  Nueva actividad
            </button>
        </div>

        <div class="col-md-2 input-group">
            <input ng-model="filter" type="text" class="form-control" placeholder="Filtrar actividades">
            <span data-ng-click="clean()" class="input-group-btn ">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>

    </div>
    <hr>
</div>


<div class="content">
    <div class="">
        <div class="row">

            <div class="col-md-4 margin-bottom-30" >
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-primary">
                            <i class="glyphicon glyphicon-tasks"></i>
                            <span class="caption-subject bold font-yellow-crusta text-uppercase"> mar-16 </span>
                            <span class="caption-helper">Comision general</span>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#portlet_tab1" data-toggle="tab">
                                    Informacion
                                </a>
                            </li>
                            <li>
                                <a href="#portlet_tab2" data-toggle="tab">
                                    Tareas
                                </a>
                            </li>
                            <li>
                                <a href="#portlet_tab3" data-toggle="tab">
                                    Archivos
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="portlet_tab1">

                                <p ng-text-truncate="text" ng-tt-chars-threshold="70" ng-tt-more-label="Más" ng-tt-less-label="Menos"></p>

                                <a style="cursor: pointer" class="caption-helper" ng-click="changeAction(actionDisplay)" data-toggle="collapse" data-parent="#accordion" data-target="#info">
                                    {{actionDisplay}}
                                </a>

                                <div id="accordion">

                                    <div id="info" class="panel-collapse collapse">

                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Dimensión</th>
                                                        <th>Componente</th>
                                                        <th>Debilidad</th>
                                                        <th>Causa</th>
                                                        <th>Objetivo</th>
                                                        <th>Indicador</th>
                                                        <th>Observaciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Relación con el contexto</td>
                                                        <td>Correspondencia con el contexto</td>
                                                        <td>Falta de conocimiento en el sector empleador global del perfil de salida de la carrera.</td>
                                                        <td>Se carece de una estrategia para socializar y presentar el perfil de salida de ATI en los ámbitos empresariales</td>
                                                        <td>Establecer una estrategia de difusión y socialización del perfil de salida de la carrera.</td>
                                                        <td>1 propuesta de plan de trabajo para cuatro años.</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <a style="cursor: pointer; float: right" class="caption-helper" ng-click="changeAction(actionDisplay)" data-toggle="collapse" data-parent="#accordion" data-target="#info">
                                            {{actionDisplay}}
                                        </a>

                                    </div>

                                </div>



                            </div>
                            <div class="tab-pane" id="portlet_tab2">
                            </div>
                            <div class="tab-pane" id="portlet_tab3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



