<div class="wrapper">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="font-family: 'Pacifico';" class="navbar-brand"><img height="45px" width="110px" src="./styles/icon.jpg"> </a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li style="cursor: pointer" ng-class="{active: isActive('Debilidades')}"><a data-ng-click="swicth('Debilidades')"><span class="glyphicon glyphicon-menu-hamburger"></span> Debilidades Encontradas</a></li>
                    <li style="cursor: pointer" ng-class="{active: isActive('Dimensiones')}"><a data-ng-click="swicth('Dimensiones')"><span class="glyphicon glyphicon-list-alt"></span> Dimensiones Analizadas</a></li>
                    <li style="cursor: pointer" ng-class="{active: isActive('Componentes')}"><a data-ng-click="swicth('Componentes')"><span class="glyphicon glyphicon-th"></span> Componentes Analizados</a></li>
                    <li style="cursor: pointer" ng-class="{active: isActive('Criterios')}"><a data-ng-click="swicth('Criterios')"><span class="glyphicon glyphicon-th-list"></span> Criterios y Estándares</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> {{userData.nombre}}
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                <span class="glyphicon glyphicon-user icon-size"></span>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"><strong>{{userData.nombre}}</strong></p>
                                            <p class="text-left small">{{userData.cedula}}</p>
                                            <p class="text-left">
                                                <a data-ng-click="logout()" class="btn btn-primary btn-block btn-sm">Salir</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div ng-switch="tab">
        <div ng-switch-when="Debilidades">
            <div ng-include="'views/debilidades.html'"></div>
        </div>
        <div ng-switch-when="Dimensiones">
            <div ng-include="'views/dimensiones.html'"></div>
        </div>
        <div ng-switch-when="Componentes">
            <div ng-include="'views/componentes.html'"></div>
        </div>
        <div ng-switch-when="Criterios">
            <div ng-include="'views/criterios.html'"></div>
        </div>
    </div>




    <!-- Modal Dimenciones-->
    <div class="modal fade" id="ManteDimensiones" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary" style="background:#337ab7">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 ng-show="modifyDimention">Editar Dimensión</h3>
                    <h3 ng-show="newDimention">Agregar nueva Dimensión</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre de la dimensión:</label>
                        <div>
                            <input type="text" class="form-control" ng-model="dimentionName" placeholder="Nombre de la Dimensión" autofocus>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="saveDimention()" ng-disabled="dimentionNameFail">
                        <span class="glyphicon glyphicon-floppy-disk"></span>  Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Componentes-->
    <div class="modal fade" id="ManteComponentes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary" style="background:#337ab7">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 ng-show="modifyComponent">Editar Componente</h3>
                    <h3 ng-show="newComponent">Agregar nuevo Componente</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre del componente:</label>
                        <div>
                            <input type="text" class="form-control" ng-model="componentName" placeholder="Nombre del componente" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Dimensión asociada:</label>
                        <select ng-options="dimension.id as dimension.desc for dimension in dimensiones" ng-model="idDimentionSelected" class="form-control">
                            <option style="display:none" value="">Seleccione una dimensión</option>
                        </select>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="saveComponent()" ng-disabled="componentFail">
                        <span class="glyphicon glyphicon-floppy-disk"></span>  Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Criterios-->
    <div class="modal fade" id="ManteCriterios" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary" style="background:#337ab7">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 ng-show="modifyCriterion">Editar Criterio</h3>
                    <h3 ng-show="newCriterion">Agregar nuevo Criterio</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Número del creterio:</label>
                        <div>
                            <input type="text" class="form-control" ng-model="criterionName" placeholder="Número" autofocus>
                        </div>
                        <label>Descripción del creterio:</label>
                        <div>
                            <textarea ckeditor data-ng-model="criterionDesc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="saveCriterion()" ng-disabled="criterionFail">
                        <span class="glyphicon glyphicon-floppy-disk"></span>  Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal Editar Causas-->
    <div class="modal fade" id="EditarCausas" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary" style="background:#337ab7">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Causas de la debilidad</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div>
                            <textarea ckeditor data-ng-model="causes"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="editCauses()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>  Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Editar Sedes-->
    <div class="modal fade" id="EditarSedes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary" style="background:#337ab7">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Sedes que poseen la debilidad</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div>
                            <textarea ckeditor data-ng-model="locations"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="editLocations()"><span class="glyphicon glyphicon-floppy-disk"></span>  Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Debilidad-->
    <div class="modal fade" id="ManteDebilidad" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary" style="background:#337ab7">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 ng-show="modifyWeakness">Editar Debilidad</h3>
                    <h3 ng-show="newWeakness">Agregar nueva Debilidad</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Descripción de la debilidad:</label>
                        <div>
                            <textarea style="height: 100px" class="form-control" ng-model="weaknessName" placeholder="Descripcion" autofocus></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Componente asociado:</label>
                        <select ng-options="componente.id as componente.desc for componente in componentes" ng-model="idComponentSelected" class="form-control">
                            <option style="display:none" value="">Seleccione un componente</option>
                        </select>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="saveWeakness()" ng-disabled="weaknessFail">
                        <span class="glyphicon glyphicon-floppy-disk"></span>  Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Agregar Objetivos-->
    <div class="modal fade" id="AgregarObjetivos" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary" style="background:#337ab7">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 ng-show="TargetA">Agregar un nuevo objetivo a la debilidad</h3>
                    <h3 ng-show="TargetE">Editar o eliminar objetivo de la debilidad</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div>
                            <textarea style="height: 100px" class="form-control" ng-model="targets" placeholder="Objetivo" autofocus></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="float:left" class="btn btn-danger" data-dismiss="modal" ng-show="TargetE" ng-click="targetsDelete($event)"><span class="glyphicon glyphicon-remove"></span>  Eliminar
                    </button>

                    <button class="btn btn-primary" data-dismiss="modal" ng-disabled="targetsFail" ng-click="targetsAdd()"><span class="glyphicon glyphicon-floppy-disk"></span>  Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Modal Agregar Indicadores-->
    <div class="modal fade" id="AgregarIndicadores" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary" style="background:#337ab7">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 ng-show="IndicatorA">Agregar un nuevo indicador al objetivo</h3>
                    <h3 ng-show="IndicatorE">Editar o eliminar indicador</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div>
                            <textarea ckeditor data-ng-model="indicator"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="float:left" class="btn btn-danger" data-dismiss="modal" ng-show="IndicatorE" ng-click="indicatorDelete($event)"><span class="glyphicon glyphicon-remove"></span>  Eliminar
                    </button>

                    <button class="btn btn-primary" data-dismiss="modal" ng-disabled="indicatorFail" ng-click="indicatorAdd()"><span class="glyphicon glyphicon-floppy-disk"></span>  Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
