<div class="panel-body">

    <div class="col-md-12 input-group">
        <h2><span class ="col-sm-12 col-xs-12 col-md-4 label label-primary">Debilidades Encontradas</span></h2>

        <div style="float:left;" class="col-md-offset-4 col-md-2 input-group">
            <button class="col-md-12 btn btn-primary btn-md" data-toggle="modal" data-target="#ManteDebilidad" ng-click="addWeakness()">
                <span class="glyphicon glyphicon-plus"></span> Nueva Debilidad
            </button>
        </div>

        <div class="col-md-2 input-group">
            <input ng-model="filter" type="text" class="form-control" placeholder="Filtrar debilidades">
            <span data-ng-click="clean()" class="input-group-btn ">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>

    </div>
    <hr>
</div>


<div class="container">

    <div ng-show="alertWeakness" class="alert alert-success text-center" role="alert">
        <strong ng-show="modifyWeakness">La debilidad ha sido editada correctamente.</strong>
        <strong ng-show="newWeakness">La debilidad ha sido agregada correctamente.</strong>
        <strong ng-show="deleteWeakness">La debilidad ha sido eliminada correctamente.</strong>
    </div>

    <div class="panel-group" id="accordion">

        <div class="box thumbnail" ng-repeat="debilidad in debilidades | orderBy:'+desc' | filter: filter">

            <h5 class="h5"><p ng-text-truncate="debilidad.desc" ng-tt-chars-threshold="70" ng-tt-more-label="Más" ng-tt-less-label="Menos"></p></h5>

            <div id="{{debilidad.id}}" class="panel-collapse collapse">
                <hr>
                <h5 class="ul badge"> Dimensión</h5>
                <ul>
                    <li>
                        <a style="cursor: pointer" data-ng-click="ToDimention(debilidad.dime)">{{debilidad.dime}}</a>
                    </li>
                </ul>
                <h5 class="ul badge"> Componente</h5>
                <ul>
                    <li>
                        <a data-ng-click="ToComponent(debilidad.comp)" style="cursor: pointer">{{debilidad.comp}}</a>
                    </li>
                </ul>
                <h5 class="ul badge" data-toggle="modal" data-target="#EditarSedes" style="cursor: pointer" ng-click="locationsEdit(debilidad.id, debilidad.carreras)"><md-tooltip md-direction="top">Editar Carreras/Sedes</md-tooltip> Carreras/Sedes</h5>

                <div ng-bind-html="debilidad.carreras"></div>

                <h5 class="ul badge"> Criterios</h5>

                <div layout="column" ng-cloak="" class="chipsdemoCustomInputs">

                    <md-content class="md-padding md-default-theme" layout="column">
                        <md-chips md-on-add="editCriterions()" md-on-remove="editCriterions()" style="cursor: pointer" ng-click="getSelectedChipIndex($event)" ng-model="selectedCriterion" md-require-match="true">
                            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.name" placeholder="Escribe el número de Criterio">
                                <span md-highlight-text="ctrl.searchText">{{item.num}}</span>
                            </md-autocomplete>
                            <md-chip-template >
                                <span>
                                    <strong><a data-ng-click="ToCriterion($chip.num)" style="cursor: pointer">{{$chip.num}}</a></strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </md-content>


                </div>
                <br>
                <h5 class="ul badge" data-toggle="modal" data-target="#EditarCausas" style="cursor: pointer" ng-click="causesEdit(debilidad.id, debilidad.causas)"><md-tooltip md-direction="top">Editar causas</md-tooltip> Causas</h5>

                <div ng-bind-html="debilidad.causas"></div>

                <h5 class="ul badge"> Objetivos e Indicadores</h5>

                <hr>


            </div>

            <button ng-click="criterionsEdit(debilidad.id, debilidad.criterios, debilidad.desc)" id="btn_{{debilidad.id}}" data-toggle="collapse" data-parent="#accordion" data-target="#{{debilidad.id}}" class="btn btn-primary btn-md">
                <md-tooltip md-direction="top">
                    Información
                </md-tooltip>
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <button class="btn btn-primary btn-md">
                <md-tooltip md-direction="top">
                    Actividades
                </md-tooltip>
                <span class="glyphicon glyphicon-tasks"></span>
            </button>
            <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#ManteDebilidad" ng-click="editWeakness(debilidad.id, debilidad.desc, debilidad.idC)">
                <md-tooltip md-direction="top">
                    Editar
                </md-tooltip>
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-primary btn-md" ng-click="removeWeakness($event, debilidad.id)">
                <md-tooltip md-direction="top">
                    Eliminar
                </md-tooltip>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

    </div>

</div>
