<div class="panel-body">

    <div class="col-md-12 input-group">
        <h2><span class ="col-sm-12 col-xs-12 col-md-3 label label-primary">Debilidades en el sistema</span></h2>

        <div style="float:left;" class="col-md-offset-5 col-md-2 input-group">
            <button class="col-md-12 btn btn-primary btn-md" data-toggle="modal" data-target="" ng-click="">
                <span class="glyphicon glyphicon-plus"></span> Nueva Debilidad
            </button>
        </div>

        <div class="col-md-2 input-group">
            <input ng-model="filter" type="text" class="form-control" placeholder="Filtrar debilidades">
            <span data-ng-click="clean()" class="input-group-btn ">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>

    </div>
    <hr>
</div>


<div class="container">

    <div class="panel-group" id="accordion">

        <div class="box thumbnail" ng-repeat="debilidad in debilidades | orderBy:'+desc' | filter: filter">

            <h5 class="h5"><p ng-text-truncate="debilidad.desc" ng-tt-chars-threshold="70" ng-tt-more-label="Más" ng-tt-less-label="Menos"></p></h5>

            <div id="{{debilidad.id}}" class="panel-collapse collapse">
                <hr>
                <h5 class="ul badge" style="cursor: pointer"><md-tooltip md-direction="top">Editar dimensión</md-tooltip> Dimensión</h5>
                <ul>
                    <li>
                        <a data-ng-click="ToDimention(debilidad.dime)" style="cursor: pointer">{{debilidad.dime}}</a>
                    </li>
                </ul>
                <h5 class="ul badge" style="cursor: pointer"><md-tooltip md-direction="top">Editar componente</md-tooltip> Componente</h5>
                <ul>
                    <li>
                        <a data-ng-click="ToComponent(debilidad.comp)" style="cursor: pointer">{{debilidad.comp}}</a>
                    </li>
                </ul>
                <h5 class="ul badge" style="cursor: pointer"><md-tooltip md-direction="top">Editar Carreras/Sedes</md-tooltip> Carreras/Sedes</h5>
                <ul>
                    <li>
                        {{debilidad.carreras}}
                    </li>
                </ul>
                <h5 class="ul badge" style="cursor: pointer"><md-tooltip md-direction="top">Editar criterios</md-tooltip> Criterios</h5>
                <ul>
                    <li ng-repeat="criterio in debilidad.criterios | orderBy:'+num'">
                        <a data-ng-click="ToCriterion(criterio.num)" style="cursor: pointer">{{criterio.num}}</a>
                    </li>
                </ul>
                <h5 class="ul badge" data-toggle="modal" data-target="#EditarCausas" style="cursor: pointer" ng-click="causesEdit(debilidad.id, debilidad.causas)"><md-tooltip md-direction="top">Editar causas</md-tooltip> Causas</h5>

                <div ng-bind-html="debilidad.causas"></div>

                <h5 class="ul badge" data-toggle="modal" data-target="#EditarObjetivos" style="cursor: pointer" ng-click="targetsEdit(debilidad.id, debilidad.objetivos)"><md-tooltip md-direction="top">Editar objetivos</md-tooltip> Objetivos</h5>

                <div ng-bind-html="debilidad.objetivos"></div>

                <h5 class="ul badge" data-toggle="modal" data-target="#EditarIndicadores" style="cursor: pointer" ng-click="indicatorsEdit(debilidad.id, debilidad.indicadores)"><md-tooltip md-direction="top">Editar indicadores</md-tooltip> Indicadores</h5>

                <div ng-bind-html="debilidad.indicadores"></div>
                <hr>


            </div>

            <button id="btn_{{debilidad.id}}" data-toggle="collapse" data-parent="#accordion" data-target="#{{debilidad.id}}" class="btn btn-primary btn-md">
                <md-tooltip md-direction="top">
                    Información
                </md-tooltip>
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <button class="btn btn-primary btn-md">
                <md-tooltip md-direction="top">
                    Actividades
                </md-tooltip>
                <span class="glyphicon glyphicon-tasks"></span>
            </button>
            <button class="btn btn-primary btn-md">
                <md-tooltip md-direction="top">
                    Editar
                </md-tooltip>
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-primary btn-md">
                <md-tooltip md-direction="top">
                    Eliminar
                </md-tooltip>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

    </div>

</div>
