.box {
    padding: 10px;
    position: relative;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1, #f3f3f3));
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    -webkit-border-bottom-right-radius: 60px 60px;
    -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.box:before {
    content: '';
    width: 25px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-border-bottom-right-radius: 30px;
    -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(-20deg) skew(-40deg, -3deg) translate(-13px, -13px);
}

.box:after {
    content: '';
    z-index: -1;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg) translate(-45px, -20px) skew(20deg);
}

.h5 {
    font-size: 16px;
    margin-top: 5px;
}

.ul {
    font-size: 15px;
    margin-top: 2px;
    letter-spacing: 1px;
    font-weight: 600;
}

.ngTruncateToggleText {
    color: #337ab7;
    font-size: 90%;
    font-style: italic;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

.chipsdemoCustomInputs md-content.autocomplete {
    min-height: 150px;
}

.chipsdemoCustomInputs input[type=number] {
    width: 90px;
}

.chipsdemoCustomInputs .veggie-option {
    float: left;
    width: 15%;
    box-sizing: border-box;
    padding: 0 4px;
}

.chipsdemoCustomInputs .veggie-option .md-item-text {
    padding: 4px;
    background: #f0f0f0;
}

.chipsdemoCustomInputs .veggie-option .md-item-text h3,
.chipsdemoCustomInputs .veggie-option .md-item-text p {
    padding: 0;
    margin: 0;
}

md-content.md-default-theme,
md-content {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(255, 255, 255, 0.25);
}

@media (min-width: 960px) .md-padding {
    padding: 8px;
}

.md-padding {
    padding: 4px;
}

.md-chips .md-chip {
    cursor: default;
    border-radius: 5px;
    display: block;
    /* height: 15px; */
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0 12px;
    float: left;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
}

.md-chips {
    display: block;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 13px;
    padding: 0 0 8px 3px;
    vertical-align: middle;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 3px;
    font-size: 18px;
    line-height: 20px;
}



/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

.content {
    padding: 30px;
    background: ##FFFFFF;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

/* Portlet */
.portlet {
    -webkit-box-shadow: 10px 10px 26px -10px rgba(0,0,0,0.73);
    -moz-box-shadow: 10px 10px 26px -10px rgba(0,0,0,0.73);
    box-shadow: 10px 10px 26px -10px rgba(0,0,0,0.73);
    background: #F8F8F8;
    padding: 20px;
}

.portlet:hover {
    -webkit-box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.6);
    padding: 20px;
}


.portlet.portlet-gray {
    background: #f7f7f7;
}

.portlet.portlet-bordered {
    border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
    padding: 0;
    min-height: 70px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
}

.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}


.caption.caption-primary .caption-subject,
.caption.caption-primary i {
    color: #337ab7;
    font-weight: 200;
}

.caption.caption-green .caption-subject,
.caption.caption-green i {
    color: #4db3a2;
    font-weight: 200;
}

.caption.caption-red .caption-subject,
.caption.caption-red i {
    color: #e26a6a;
    font-weight: 200;
}

.caption.caption-purple .caption-subject,
.caption.caption-purple i {
    color: #8775a7;
    font-weight: 400;
}

.caption i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
}

.caption-subject {
    color: #337ab7;
    font-size: 18px;
    font-weight: 700;
}

.caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 14px;
    font-weight: 400;
}

/* Actions */
.actions {
    float: right;
    display: inline-block;
}

.actions a {
    margin-left: 3px;
}

.actions .btn {
    color: #666;
    padding: 3px 9px;
    font-size: 13px;
    line-height: 1.5;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 50px;
}

.actions .btn i {
    font-size: 12px;
}

.actions .btn:hover {
    background: #f2f2f2;
}

/* Pagination */
.pagination {
    margin: -3px 0 0;
    border-radius: 50px;
}

.pagination > li > a,
.pagination > li > span {
    padding: 4px 10px;
    font-size: 12px;
    color: #8775a7;
    background: #f7f7f7;
}

.pagination > li:hover > a,
.pagination > li.active > a,
.pagination > li.active:hover > a {
    color: #fff;
    background: #8775a7;
    border-color: #8775a7;
}

/* Inputs */
.inputs {
    float: right;
    display: inline-block;
    padding: 4px 0;
    margin-top: -10px;
}

.input-inline {
    width: 240px;
    display: inline-block;
    vertical-align: middle;
}

/* Tab */
.portlet-title > .nav-tabs {
    background: none;
    margin: 0;
    float: right;
    display: inline-block;
    border: 0;
}

.portlet-title > .nav-tabs > li {
    background: none;
    margin: 0;
    border: 0;
}

.portlet-title > .nav-tabs > li > a {
    background: none;
    border: 0;
    padding: 16px 10px 5px;
    color: #444;
}

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
    border-bottom: 4px solid #337AB7;
    position: relative;
}

.portlet-title > .nav-tabs > li:hover {
    border-bottom: 4px solid #89B7DE;
}

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
    color: #333;
    background: rgb(248, 248, 248);
    border: 0;
}

/* Btn Circle */
.actions .btn.btn-circle {
    width: 28px;
    height: 28px;
    padding: 3px 7px;
    text-align: center;
}

.actions .btn.btn-circle i {
    font-size: 11px;
}

/* Btn Grey Salsa */
.actions .btn.grey-salsa {
    border: none;
    margin-left: 3px;
    box-shadow: none;
    border-radius: 50px !important;
}

.actions .btn.grey-salsa.active {
    color: #fafcfb;
    background: #8e9bae;
}
.actions .grey-salsa.btn:hover,
.actions .grey-salsa.btn:focus,
.actions .grey-salsa.btn:active,
.actions .grey-salsa.btn.active {
    color: #fafcfb;
    background: #97a3b4;
}

/* Btn Red */
.actions .btn.btn-red.active,
.actions .btn.btn-red:hover {
    color: #fff;
    box-shadow: none;
    background: #e26a6a;
    border-color: #e26a6a;
}

/* Btn Red */
.actions .btn.btn-purple.active,
.actions .btn.btn-purple:hover {
    color: #fff;
    box-shadow: none;
    background: #8775a7;
    border-color: #8775a7;
}


